.git
.github
.env
.env.*
!.env.example
.phpunit.result.cache
node_modules
vendor
public/build
public/storage
storage/*.key
storage/app/whatsapp/*
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
docker
Dockerfile
docker-compose.yml
Jenkinsfile
README.md
fine.sql
